<div class="show-container">
  <h1 class="task-title"><%= @task.title %></h1>

  <%= link_to "Edit", task_edit_path(@task), class: "btn-edit" %>
  <%= link_to "Back to tasks", tasks_path, class: "btn-home" %>
  <%= link_to "Delete",
    task_delete_path(@task),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn-delete"%>

  <p class="details"><strong>Description:</strong> <%= @task.details %></p>

  <div class="form-completed">
    <%= form_with model: @task do |f| %>
    <%= f.label :completed, "Mark as completed" %>
    <%= f.check_box :completed %>
  </div>

  <%= f.submit "Save changes", class: "btn-completed" %>
  <% end %>
</div>
